# Keycloak Configuration
# URL do servidor Keycloak
NODE_ENV=development

VITE_PUBLIC_API_BASE_URL=https://api.example.com

# Keycloak Configuration
VITE_PUBLIC_KEYCLOAK_URL=https://auth.zeepchat.com
VITE_PUBLIC_KEYCLOAK_REALM=globex
VITE_PUBLIC_KEYCLOAK_CLIENT_ID=globex-manager
