# Environment Variables

# Keycloak
VITE_KEYCLOAK_URL=http://keycloak.localhost:8080
VITE_KEYCLOAK_REALM=myrealm
VITE_KEYCLOAK_CLIENT_ID=myapp

# API
VITE_PUBLIC_API_BASE_URL=http://localhost:3000/api
