//localhost:4873/:_authToken=${VERDACCIO_TOKEN}==
@oxlayer:registry=http://localhost:4873/
# Fallback to public npm registry for other packages
registry=https://registry.npmjs.org/
link-workspace-packages=false
ignore-workspace=true